li {
  list-style: none;
}

a,
button {
  font-family: "Lora", serif;
}

.primary-btn {
  background: #0082e5;
  color: #fff;
  border: 1px solid #0082e5;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
}
.primary-btn:hover {
  color: #0C0B0B;
  border: 1px solid #0082e5;
  background-color: transparent;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
  height: 550px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: rgba(3, 0, 0, 0.5607843137);
  font-family: "Lora";
}
@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: normal;
  }
}
@media screen and (max-width: 575px) {
  p {
    font-size: 15px;
    line-height: normal;
  }
}

h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  font-family: "Playfair Display";
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: normal;
  }
}

h2 {
  font-size: 35px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 23px;
    line-height: normal;
  }
}

h3 {
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}
@media screen and (max-width: 575px) {
  h3 {
    font-size: 20px;
    line-height: normal;
  }
}

h4 {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}

/*media queries start*/
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .site-logo img {
    max-width: 180px;
  }
  .site-nav a {
    display: inline-block;
  }
  .site-nav li {
    font-size: 16px;
  }
  .cardmain .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardmain .card {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav a {
    display: inline-block;
    padding: 8px 9px;
  }
  .site-nav li {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  /*header start*/
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #0082e5;
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
  }
  .site-nav ul {
    display: block;
    padding: 75px 60px 0;
    display: inline-block !important;
  }
  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }
  .closed-menu {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block;
  }
  .closed-menu a:hover {
    color: #fff;
  }
  .closed-menu {
    display: block;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .closed-menu {
    display: block;
  }
  .site-header {
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
  }
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-logo img {
    max-width: 20rem;
  }
  .site-nav ul {
    display: flex !important;
    flex-wrap: wrap;
  }
  .site-nav li a {
    font-size: 17px;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: #fff;
    position: relative;
    white-space: nowrap;
  }
  .site-nav li a:hover::after {
    width: 100%;
    transition: all 0.3s linear;
  }
  .site-nav .closed-menu a {
    font-size: 45px;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  ul.dropdown-content {
    position: absolute;
    width: 250px;
    background: transparent;
    top: 100%;
    left: 0;
    background: #fff;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bar-2 {
    width: 30px;
  }
  .bd-header-top__meta span {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  .bd-header-top__meta a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  nav.site-nav {
    max-width: unset;
    margin: unset;
  }
  .comparison-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .acc-head p {
    font-size: 14px;
    word-break: break-all;
    line-height: 28px;
  }
  .toptext-picture img {
    height: 650px;
  }
  .homebanner.banner h1 {
    width: 100%;
  }
  .toptext-content p {
    font-size: 16px;
  }
  .site-header .site-nav ul li a.active {
    border-bottom: none;
  }
}
@media screen and (max-width: 767px) {
  .comparison-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .acc-container {
    max-width: 100%;
  }
  .toptext-picture img {
    height: 450px;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .cardmain .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .casinoresort-part.cardmain {
    padding: 30px 0;
  }
  .home.faq {
    padding: 30px 0;
  }
}
@media screen and (max-width: 575px) {
  .site-nav {
    width: 100%;
  }
  .site-nav ul {
    display: unset !important;
    flex-wrap: wrap;
  }
  .acc-head {
    padding: 15px 3px;
  }
  .acc-head p {
    font-size: 13px;
    margin-right: 38px;
  }
  .toptext.home {
    padding: 100px 0 20px 0;
  }
  .acc-head::before,
  .acc-head::after {
    top: 63%;
  }
}


/*# sourceMappingURL=responsive.css.map */
