@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: "Lora", serif;
}

.primary-btn {
    background: $clr-skyblueblue;
    color: $clr-white;
    border: 1px solid $clr-skyblueblue;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;

    &:hover {
        color: $clr-black;
        border: 1px solid $clr-skyblueblue;
        background-color: transparent;
    }
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 0;
    height: 550px;
}

.bannertitle {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #0300008f;
    font-family: 'Lora';

    @include mq(md) {
        font-size: 16px;
        line-height: normal;
    }

    @include mq(sm) {
        font-size: 15px;
        line-height: normal;
    }
}


h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 500;
    color: $clr-white;
    width: 100%;
    font-family: "Playfair Display";
    margin: 0 auto;
    text-align: center;

    @include mq(md) {
        font-size: 30px;
        line-height: normal;
    }


}

h2 {
    font-size: 35px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";

    @include mq(sm) {
        font-size: 23px;
        line-height: normal;
    }
}

h3 {
    font-size: 25px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";

    @include mq(sm) {
        font-size: 20px;
        line-height: normal;
    }
}

h4 {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";
}