/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: $clr-skyblueblue;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: $clr-skyblueblue;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 14px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-white;
    border-bottom: 1px solid;

    &:hover {
        color: $clr-orange;
    }
}

.site-logo img {
    width: 100%;
    max-width: 300px;
}

.site-nav a {
    padding: 8px 26px !important;
    display: inline-block;
    font-weight: 500;
    color: $clr-white;

    &:hover {
        color: $clr-orange;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.headerflex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 70px;
}

nav.site-nav {
    max-width: 100%;
    margin: 0 auto;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/

/*footer-css-start*/

.footer {
    background: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: 100px 0;

    &::after {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.84);
        content: '';
        z-index: -1;
    }

    &-logo {
        img {
            max-width: 250px;
        }
    }

    &-links {
        h2 {
            color: $clr-orange;
        }

        h3 {
            color: $clr-white;
            font-size: 25px;
        }

        li {
            margin: 8px 0;
        }

        a {
            color: $clr-white;

            &:hover {
                color: $clr-orange;
            }
        }
    }

    &-adresse {
        h2 {
            color: $clr-orange;
        }

        h3 {
            color: $clr-white;
            font-size: 25px;
        }

        p {
            color: $clr-orange;
        }
    }

    &-mails {

        a,
        i {
            color: $clr-white;
        }

    }
}

.social-signals {
    padding: 25px 0;
    cursor: pointer;

    i {
        color: $clr-white;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        border: 1px solid $clr-white;
        border-radius: 30px;
        height: 40px;
        width: 40px;
        transition: .3s linear;

        &:hover {
            transform: translateY(-10px);
            color: $clr-orange;
        }
    }
}

/*footer-css-end*/

/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;

    h4 {
        font-size: 23PX;
        font-family: 'Playfair Display';
        color: $clr-orange;
    }
}

a.btn.btn-primary.accept-cookies {
    background: $clr-skyblueblue;
    padding: 6px 22px;
    font-size: 20px;
    border: 1px solid $clr-skyblueblue;

    &:hover {
        background-color: transparent;
        color: $clr-black;
        border: 1px solid $clr-skyblueblue;
    }
}

/*cookie end*/

/*privacy-policy start*/
.privacy__section.banner {
    background-image: url(../images/privacybanner.jpg);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
        height: 450px;
    }
}

.privacy-policy {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            font-family: "Barlow", sans-serif;
        }

        h3 {
            color: $clr-skyblueblue;
        }

        p {
            color: $clr-black;
            font-family: "Barlow", sans-serif;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.terms {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            font-family: "Barlow", sans-serif;
        }

        p {
            color: $clr-black;
            font-family: "Barlow", sans-serif;
            font-size: 16px;
            line-height: 25px;
        }

        h3 {
            color: $clr-skyblueblue;
        }
    }
}

/*privacy-policy end*/

/*terms-conditon start*/
.terms__section.banner {
    background-image: url(../images/termsbanner.jpg);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    z-index: -1;

    &::after {
        height: 450px;
        z-index: -1;
    }
}

/*terms-conditon-end/

/*home-css-start*/
.homebanner.banner {
    background-image: url(../images/homebanner.jpg);
    position: relative;
    height: 600px;

    h1 {
        width: 80%;
    }
}

.toptext {
    padding: 50px 0;

    &-picture {
        img {
            height: 480px;
            object-fit: cover;
            max-width: 550px;
        }
    }

    &-content {
        h3 {
            color: $clr-orange;
        }
    }
}

.cardmain h4.text-h4 {
    font-size: 30px;
    top: 70%;
}

h2.title {
    color: $clr-orange;
}

.casinoresort-part.cardmain {
    padding: 50px 0;
}

.cardmain .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
}

.cardmain .card {
    position: relative;
    width: 350px;
    height: 350px;
}

.cardmain .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.cardmain .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px $clr-white;
}

.cardmain .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardmain .text-h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    font-family: 'Lora';
    font-weight: 600;
    line-height: 45px;
    color: $clr-orange;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.cardmain .card .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: perspective(600px) rotateY(180deg);
    background: $clr-white;
    padding: 15px;
    color: $clr-skyblueblue;
    text-align: center;
    box-shadow: 0 5px 10px $clr-white;
}


.cardmain .links {
    border-top: 1px solid $clr-skyblueblue;
    height: 50px;
    line-height: 50px;
}

.casinoresort-part.cardmain h2 {
    margin: 25px 0px;
}

.cardmain .link-a {
    color: $clr-skyblueblue;
}

.cardmain .card .back .text-h2 {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}

.cardmain .card .back .text-p {
    letter-spacing: 1px;
    font-size: 16px;
}

.cardmain .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.cardmain .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.home.faq {
    padding: 50px 0;

    h2 {
        margin-bottom: 25px;
    }
}

.home.faq .container {
    position: relative;
    z-index: 2;
}

.acc-container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.acc {
    margin-bottom: 10px;
}

.acc-head {
    background-color: $clr-skyblueblue;
    padding: 15px 10px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

.acc-head::before,
.acc-head::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: $clr-white;
    transition: all .3s;
}

.acc-head::before {
    right: 30px;
    width: 3px;
    height: 20px;
    margin-top: -10px;
}

.acc-head::after {
    right: 21px;
    width: 20px;
    height: 3px;
    margin-top: -2px;
}

.acc-head p {
    color: $clr-white;
    font-weight: bold;
    margin-bottom: 0;
}

.acc-content {
    padding: 15px 10px;
    display: none;
}

.acc-head.active::before {
    transform: rotate(90deg);
}

/*home-css-end*/

/*about-css-start*/
.aboutbanner.banner {
    background-image: url(../images/aboutabanner.jpeg);
    position: relative;
}

.choose-main {
    box-shadow: 0px 0px 30px 0px rgba(199, 199, 199, 0.5);
    padding: 10px 20px;
    height: 100%;
}

.choosehead .row {
    row-gap: 25px;
}

span.travelblock {
    font-size: 23px;
    color: $clr-skyblueblue;
}

.choose-content {
    padding: 50px 0;
    position: relative;

    h4 {
        margin: 20px 0;
        color: $clr-skyblueblue;
    }

}

.choose-content {
    display: flex;
    gap: 20px;
    padding: 8px 0;
    align-items: center;

    img {
        max-width: 45px;
        height: 45px;
        object-fit: cover;
        text-align: left;
    }
}

.contactform .about_us_content {
    margin: 30px 0;
}

.contactform .form-group {
    margin-bottom: 2rem;
}

.contactform .input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-skyblueblue;
    padding: 2rem 2rem;
    background: transparent;
    color: $clr-black;
}

.contactform .input-control:focus-visible {
    outline: none;
}

.contactform textarea.input-control {
    resize: none;
    height: auto;
}

.contactform .form-group .submit-btn {
    background: $clr-skyblueblue;
    border: 1px solid $clr-skyblueblue;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: $clr-white;
    text-transform: capitalize;

    &:hover {
        background-color: transparent;
        color: $clr-black;
    }
}

.contactform .form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-skyblueblue;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

/*about-css-end*/

/*lasvegas-css-start*/

.lasvegasbanner.banner {
    background-image: url(../images/lasvegasbanner.jpg);
    position: relative;
}

.lasvegas.atlantic {
    background-image: url(../images/casinobg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    position: relative;
    padding: 50px 0;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #edfbff;
        opacity: 0.9;
    }
}

.lasvegas.atlantic .container {
    position: relative;
    z-index: 2;
}

.lasvegas {
    &-main {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        height: 100%;
        padding: 20px;
    }

    &-picture {
        img {
            width: 100%;
            margin-bottom: 25px;
            height: 350px;
            object-fit: cover;
        }
    }

    &-content {
        margin-bottom: 25px;
        height: 100%;

        h4 {
            color: $clr-skyblueblue;
        }

        ul {
            margin: 20px 0;
        }

        li {
            color: $clr-black;
            color: $clr-grey;
            font-family: "Lora";

            span {
                color: $clr-skyblueblue;
                font-size: 17px;
                margin: 0 5px;
            }
        }
    }
}

.comparison {
    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &-inner {
        padding: 50px 30px;
        background: $clr-skyblueblue;

        &:hover {
            background-color: $clr-orange;
        }

        img {
            max-width: 45px;
            height: 45px;
            object-fit: cover;
        }

        h4 {
            color: $clr-white;
        }

        p {
            color: $clr-white;
        }
    }
}


.lasvegas .row {
    row-gap: 20px;
}

/*lasvegas-css-end*/

/*monte-carlo-css-start*/
.montecarlobanner.banner {
    background-image: url(../images/montecarlobanner.jpg);
    position: relative;
}

/*monte-carlo-css-end*/

/*atlanticbanner-css-start*/
.atlanticbanner.banner {
    background-image: url(../images/atlanticbanner.jpg);
    position: relative;
}

/*atlanticbanner-css-end*/


/*# sourceMappingURL=style.css.map */